Repository esmero/archipelago-documentation, pull requests merged in 2020-04, with the labels that each got.

#35 Revert a3329931409ca24d842d8cb169f0f06705e288fe
  docs/firstobject.md
Labels: Release Duties

#38 #37.a Updates to "First Digital Object" Documentation
  docs/firstobject.md
  imgs/.DS_Store
  imgs/firstobject/.DS_Store
  imgs/firstobject/01_log-in.jpg
  imgs/firstobject/02_demo-demo.jpg
  imgs/firstobject/03-logged-in.jpg
  imgs/firstobject/04_add-content.jpg
  imgs/firstobject/05_MyMetadata.jpg
  imgs/firstobject/06_step-two_linked-data.jpg
  imgs/firstobject/07_step-three_collections.jpg
  imgs/firstobject/08_step-four_upload-files_1.jpg
  imgs/firstobject/09_step-four_upload-files_2.jpg
  imgs/firstobject/10_step-six_complete.jpg
  imgs/firstobject/11_step-six_complete_green-messages.jpg
  imgs/firstobject/12_step-six_complete_2.jpg
Labels: documentation, good first issue

#40 ISSUE-36: Update First Object Documentation for Beta2
  docs/firstobject.md
  imgs/Add-content.jpg
  imgs/Log-in.jpg
  imgs/Logged-in.jpg
  imgs/MyMetadata_1.jpg
  imgs/Welcome.jpg
  imgs/firstobject/01_log-in.jpg
  imgs/firstobject/02_demo-demo.jpg
  imgs/firstobject/03_logged-in.jpg
  imgs/firstobject/04_add-content.jpg
  imgs/firstobject/05_MyMetadata.jpg
  imgs/firstobject/06_step-two_linked-data.jpg
  imgs/firstobject/07_step-three_collections.jpg
  imgs/firstobject/08_step-four_upload-files_1.jpg
  imgs/firstobject/09_step-four_upload-files_2.jpg
  imgs/firstobject/10_step-six_complete.jpg
  imgs/firstobject/11_step-six_complete_green-messages.jpg
  imgs/firstobject/12_step-six_complete_2.jpg
  imgs/inges-step-3_Collections.jpg
  imgs/ingest-documentation_preview-page.png
  imgs/ingest-step-4_Upload-files.jpg
  imgs/ingest-step-7_Complete-save.jpg
  imgs/ingest-step-7_Complete.jpg
  imgs/ingest-step1.jpg
  imgs/ingest-step2.jpg
Labels: documentation
